@page {
    visibility: hidden;
    margin: 10mm 3mm 10mm 3mm;
    size: A4 portrait
}

@media screen {
    #barcodes #barcode-list {
        width: 840px;
        height: 1188px
    }

    #barcodes #barcode-list .barcode {
        width: 167px;
        height: 100px;
        float: left;
        text-align: center
    }
}

@media print {
    #barcodes #barcode-list {
        width: 100%;
        height: 100%;
        margin: 3mm 0 0 1mm;
        padding: 0
    }

    #barcodes #barcode-list .barcode {
        width: 38mm;
        height: 18mm;
        max-height: 18mm;
        overflow: hidden;
        float: left;
        margin: 0 0 2mm 3mm;
        padding: 0;
        text-align: center
    }
}

.barcode .sku {
    text-align: center;
    font-size: 0.5em;
    line-height: 0.8em;
    font-weight: normal;
    padding: 0.2em 0 0.2em 0
}

.barcode .name {
    text-align: center;
    font-size: 0.5em;
    padding: 0.1em 0 0 0
}

.barcode .price {
    text-align: center;
    font-size: 0.5em;
    padding: 0;
    width: 100%
}

#barcodes #barcode-list .barcode .inner {
    padding: 1mm 2mm
}

#barcodes #barcode-list .barcode img {
    text-align: center;
    max-width: 90%
}

@page {
    visibility: hidden;
    margin: 10mm 3mm 10mm 3mm;
    size: A4 portrait
}

@media screen {
    .allow-printable #barcode-list {
        width: 840px;
        height: 1188px
    }

    .allow-printable #barcode-list .barcode {
        width: 167px;
        height: 100px;
        float: left;
        text-align: center
    }
}

@media print {
    .allow-printable #barcode-list {
        width: 100%;
        height: 100%;
        margin: 3mm 0 0 1mm;
        padding: 0
    }

    .allow-printable #barcode-list .barcode {
        width: 38mm;
        height: 18mm;
        max-height: 18mm;
        overflow: hidden;
        float: left;
        margin: 0 0 2mm 3mm;
        padding: 0;
        text-align: center
    }
}

.barcode .sku {
    text-align: center;
    font-size: 0.5em;
    line-height: 0.8em;
    font-weight: normal;
    padding: 0.2em 0 0.2em 0;
    margin: 0 auto;
}

.barcode .name {
    text-align: center;
    font-size: 0.5em;
    padding: 0.1em 0 0 0;
    margin: -5px auto 0 auto;
}

.barcode .price {
    text-align: center;
    font-size: 0.5em;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.allow-printable #barcode-list .barcode .inner {
    padding: 1mm 2mm
}

.allow-printable #barcode-list .barcode img {
    text-align: center;
    max-width: 90%
}